body {
    padding: 0;
    margin: 0;
}

.train {
    margin: 2.8rem 0 0;
    padding: 0 0 .2rem;
    position: fixed;
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    animation-name: train;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes train {
    0%{
        left: 100%;
    }
    100%{
        left: -120%;
    }
}

.train:hover {
    animation-play-state: paused;
}

.train:hover .car {
    animation-play-state: paused;
}

.backgroundTrain {
    width: 100%;
    height: 6rem;
    position: fixed;
    overflow: hidden;
    background-color: rgb(23, 49, 71);
    background-image: url("background for train.jpg");
    background-size: auto 100%;
}

.backgroundTrain > img {
    height: 100%;
    opacity: 20%;
}

.car {
    padding: 0;
    margin:0 .5vw;
    display: block;
    width: 100%;
    height: 3rem;
    align-self: end;
    
    border-radius: 1rem 1rem .3rem .3rem;
    background-color: rgb(8, 18, 27);
    color: rgb(129, 163, 201);
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: .3vw;
    text-align: center;
    cursor: pointer;

    animation-name: car;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.car:hover {
    color: rgb(159, 184, 221);
}

@keyframes car {
    0%{
        box-shadow: inset 2em 0.1em rgb(39, 73, 110);
    }
    100%{
        box-shadow: inset -3em 0.1em rgb(39, 73, 110);
    }
}

.firstCar {
    padding: 0;
    text-align: end;
    height: 100%;
    border-radius: 2.5rem .3rem .3rem;
    cursor: default;
}

.emptyCar {
    height: 20%;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-radius: 0rem 0rem .3rem .3rem;
    box-shadow: none;
    padding: 0;
    cursor: default;
}

header {
    padding: 2rem 0 1rem;
    margin: 6rem 0 0;
    width: 100%;
    position: fixed;
    background-color: rgb(6, 14, 20);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    user-select: none;
    color: rgb(129, 163, 201);
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: .2em;
}